<div class="row justify-content-center">
  <div class="col-md-10 main-content">
    <section class="sk-desktop-content">
      <h1>Skolton Comunidad</h1>
      <h4 class="pt-1">
        Es una plataforma para encontrar y construir Comunidad. Las personas
        usan Comunidad para conocer gente nueva, aprender cosas y seguir
        pasiones juntas.
      </h4>
      <table class="stats-table">
        <tr>
          <td>
            <h2>250</h2>
          </td>
          <td>
            <h2>2500</h2>
          </td>
          <td>
            <h2>24</h2>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Tertulias disponibles</h4>
          </td>
          <td>
            <h4>Usuarios activos</h4>
          </td>
          <td>
            <h4>Charlas disponibles</h4>
          </td>
        </tr>
      </table>
      <h2>Temas para compartir</h2>
      <h4 class="pt-1">
        Conéctate y participa. Crea tus propios temas o eventos. Conversa sobre
        lo que más te guste hablar
      </h4>
      <table class="themes-table">
        <tr>
          <td>
            <div class="theme-card">
              <table>
                <tr>
                  <td><h3>Actualidad</h3></td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div class="theme-card">
              <table>
                <tr>
                  <td><h3>Cine</h3></td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div class="theme-card">
              <table>
                <tr>
                  <td><h3>Literatura</h3></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
      <h3>Comunidad</h3>
      <div class="row justify-content-center p-3">
        <div class="sk-button sign-up" [routerLink]="'../sign-up'">
          ¡Conectarse!
        </div>
      </div>
      <div class="row justify-content-center p-1">
        <a [routerLink]="'../sign-in'">Ya tengo cuenta</a>
      </div>
    </section>
    <section class="sk-mobile-content">
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <h4>
                Es una plataforma para encontrar y construir Comunidad. Las
                personas usan Comunidad para conocer gente nueva, aprender cosas
                y seguir pasiones juntas.
              </h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <table class="stats-table mobile-content">
                <tr>
                  <td>
                    <h1>250</h1>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Tertulias disponibles</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1>2500</h1>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Usuarios activos</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1>24</h1>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Charlas disponibles</h4>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <h2>Temas para compartir</h2>
              <h4>
                Conéctate y participa. Crea tus propios temas o eventos.
                Conversa sobre lo que más te guste hablar
              </h4>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="row justify-content-center p-3">
        <div class="sk-button sign-up" [routerLink]="'../sign-up'">
          ¡Conectarse!
        </div>
      </div>
      <div class="row justify-content-center p-1">
        <a [routerLink]="'../sign-in'">Ya tengo cuenta</a>
      </div>
    </section>
  </div>
</div>
