<div class="row justify-content-center py-4 px-0">
  <div class="col-md-12 main-content p-0">
    <section>
      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide px-4">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <h4>
                Bienvenidos a esta aplicación que conecta gente mayor de 50
                años, vía encuentros virtuales de conversación. Puedes
                integrarte a Tertulias ya creadas o proponer invitar a una de tu
                interés
              </h4>
            </div>
          </div>
          <div class="swiper-slide px-4">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <table class="stats-table mobile-content">
                <tr>
                  <td>
                    <h2>250</h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Tertulias disponibles</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>2500</h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Usuarios activos</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>24</h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Charlas disponibles</h4>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="swiper-slide px-4">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <h3 class="py-2"><strong>Temas para compartir</strong></h3>
              <h4>
                Conéctate y participa. Crea tus propios temas o eventos.
                Conversa sobre lo que más te guste hablar
              </h4>
              <div class="row justify-content-center pt-2">
                <div class="col-md-4 py-2 px-3" *ngFor="let theme of themes">
                  <div class="sk-theme-card">
                    <table>
                      <tr>
                        <td class="p-2">
                          <i [class]="theme.icon"></i>
                        </td>
                        <td class="left">
                          <h4>
                            <strong>{{ theme.title }}</strong>
                          </h4>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="row justify-content-center p-3">
        <div class="sk-button sign-up" [routerLink]="'../sign-up'">
          ¡Conectarse!
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="sk-button secondary" [routerLink]="'../sign-in'">
          ¡Ya tengo una cuenta!
        </div>
      </div>
    </section>
  </div>
</div>
