<div class="sk-meeting-card p-3" *ngIf="innerWidth >= widthThreshold">
  <table>
    <tr>
      <td class="left" style="width: 30%" *ngIf="type === 'available'">
        <p *ngIf="meeting.type == 'public' || meeting.type == 'open'">
          Tertulia abierta
        </p>
        <p *ngIf="meeting.type == 'private'">Tertulia cerrada</p>
      </td>
      <td>
        <h5>
          <strong>Hablemos de: {{ meeting.theme }}</strong>
        </h5>
      </td>
      <td style="width: 30%" *ngIf="type === 'available'">
        <p *ngIf="type === 'available'">
          <strong>Quedan {{ meeting.availableSlots }} cupos</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <table class="pt-2" *ngIf="type === 'available'">
          <tr>
            <td style="width: 10%">
              <i class="bi bi-person-circle"></i>
            </td>
            <td class="left px-2">
              <a href="">{{ meeting.Host.first_name }}</a>
            </td>
          </tr>
        </table>

        <p *ngIf="type === 'ready'">
          Faltan: {{ remainingTime.days }}d:{{ remainingTime.hours }}h:{{
            remainingTime.minutes
          }}m
        </p>
      </td>
      <td>
        <p *ngIf="type === 'available'">
          {{ meeting.startTime | date: "EEEE  d" }} de
          {{ meeting.startTime | date: "MMMM" }}
          {{ meeting.startTime | date: "HH:mm" }} a
          {{ meeting.endTime | date: "HH:mm" }} hrs.
        </p>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <button class="sk-button secondary" *ngIf="type === 'offered'">
                No puedo asistir
              </button>
              <button
                class="sk-button secondary"
                *ngIf="type === 'available' && !addedToCalendar"
                (click)="requestMeeting()"
              >
                Agregar a mi calendario
              </button>
              <button
                class="sk-button secondary"
                *ngIf="type === 'available' && addedToCalendar"
              >
                No puedo ir
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr *ngIf="type === 'ready'">
      <td>
        <button
          class="sk-button secondary"
          *ngIf="type === 'ready'"
          (click)="goToMeeting()"
        >
          Ingresar
        </button>
      </td>
    </tr>
  </table>
  <div
    *ngIf="type === 'available'"
    class="pt-2 justify description"
    [ngClass]="
      seeMore
        ? 'pt-2 justify description see-more'
        : ' pt-2 justify description see-less'
    "
  >
    <p *ngIf="!seeMore">
      {{ meeting.description | shorten: 150 }}
      <span class="length-toggle" (click)="seeMore = !seeMore">ver más</span>
    </p>

    <p *ngIf="seeMore">
      {{ meeting.description }}
      <span class="length-toggle" (click)="seeMore = !seeMore">ver menos</span>
    </p>
  </div>
</div>
<div class="sk-meeting-card p-2 left" *ngIf="innerWidth < widthThreshold">
  <div class="pt-2" *ngIf="type === 'available'">
    <p *ngIf="meeting.type == 'open'">Tertulia abierta</p>
    <p *ngIf="meeting.type == 'private'">Tertulia cerrada</p>
  </div>
  <div class="pt-2 center">
    <h5>
      <strong>Hablemos de: {{ meeting.theme }}</strong>
    </h5>
  </div>
  <div class="pt-2 center" *ngIf="type === 'available'">
    <p>
      {{ meeting.startTime | date: "EEEE  d" }} de
      {{ meeting.startTime | date: "MMMM" }}
      {{ meeting.startTime | date: "HH:mm" }} a
      {{ meeting.endTime | date: "HH:mm" }} hrs.
    </p>
  </div>
  <div class="pt-2" *ngIf="type === 'available'">
    <table>
      <tr>
        <td style="width: 10%">
          <i class="bi bi-person-circle"></i>
        </td>
        <td>
          <a href="">{{ meeting.Host.first_name }}</a>
        </td>
      </tr>
    </table>
  </div>
  <div
    class="pt-2 justify description"
    [ngClass]="
      seeMore
        ? 'pt-2 justify description see-more'
        : ' pt-2 justify description see-less'
    "
    *ngIf="type === 'available'"
  >
    <p *ngIf="!seeMore">
      {{ meeting.description | shorten: 50:40 }}
      <span class="length-toggle" (click)="seeMore = !seeMore">ver más</span>
    </p>

    <p *ngIf="seeMore">
      {{ meeting.description }}
      <span class="length-toggle" (click)="seeMore = !seeMore">ver menos</span>
    </p>
  </div>
  <div class="pt-2 center">
    <p *ngIf="type === 'available'">
      <strong>Quedan {{ meeting.availableSlots }} cupos</strong>
    </p>
  </div>
  <div class="row justify-content-center pt-2">
    <button class="sk-button secondary" *ngIf="type === 'offered'">
      No puedo asistir
    </button>
    <button
      class="sk-button secondary"
      *ngIf="type === 'ready'"
      (click)="goToMeeting()"
    >
      Ingresar
    </button>
    <button
      class="sk-button secondary"
      *ngIf="type === 'available' && !addedToCalendar"
      (click)="requestMeeting()"
    >
      Agregar a mi calendario
    </button>
    <button
      class="sk-button secondary"
      *ngIf="type === 'available' && addedToCalendar"
    >
      No puedo ir
    </button>
  </div>
</div>
