<div class="row justify-content-center p-4">
  <div class="col-md-10 center">
    <div class="pt-2">
      <h3><strong>Crear tertulia</strong></h3>
    </div>
    <!-- step 0 begins -->
    <span *ngIf="step === 0">
      <div class="pt-4">
        <h4><strong>¿Qué es una tertulia?</strong></h4>
      </div>
      <div class="pt-4">
        <h4>
          Es un espacio de conversación que permite a un máximo de 10 personas
          conversar sobre un tema de interés.
        </h4>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </span>
    <!-- step 0 ends -->
    <div class="py-3" *ngIf="step > 0">
      <p class="left" (click)="previousStep()">
        <strong
          ><span><i class="bi bi-arrow-left"></i></span> Volver</strong
        >
      </p>
      <p>Paso {{ step }} de 4</p>
    </div>

    <!-- step 1 begins -->
    <section class="pt-2" *ngIf="step === 1" [formGroup]="firstStepForm">
      <h4 class="left"><strong>Tipo de tertulia:</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-10">
          <table class="radio-table">
            <tr>
              <td style="width: 10%">
                <input type="radio" value="open" formControlName="type" />
              </td>
              <td>
                <h4>
                  Abierta
                  <span
                    ngbTooltip="Cualquier integrante puede anotarse para asistir"
                    triggers="click:blur"
                    class="info"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" value="private" formControlName="type" />
              </td>
              <td>
                <h4>
                  Privada
                  <span
                    class="info"
                    ngbTooltip="Tú decides a quién y a cuántas personas invitar"
                    triggers="click:blur"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- <form class="example-form" *ngIf="type === 'private'">
        <h4 class="left">
          <strong> Lista de invitados: </strong>
        </h4>
        <div class="py-2 left"><p>Escoge a que usuarios invitar</p></div>

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Invitados:</mat-label>
          <mat-chip-list #chipList aria-label="Lista de invitados">
            <mat-chip
              *ngFor="let user of selectedUsers"
              (removed)="selectedUsers.pop()"
            >
              {{ user.first_name }}
              <button matChipRemove>X</button>
            </mat-chip>
            <input
              placeholder="Nuevo invitado..."
              #fruitInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="add($event)"
              class="pt-2"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let user of filteredOptions | async"
              [value]="user"
            >
              {{ user.first_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form> -->
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="firstStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 1 ends -->

    <!-- step 2 begins -->
    <section class="pt-2" *ngIf="step === 2" [formGroup]="secondStepForm">
      <h4 class="left"><strong>Tema de tertulia:</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-10">
          <table class="radio-table">
            <tr>
              <td style="width: 10%">
                <input type="radio" value="cine" formControlName="theme" />
              </td>
              <td>
                <h4>Cine</h4>
              </td>
            </tr>
            <tr>
              <td style="width: 10%">
                <input
                  type="radio"
                  value="literatura"
                  formControlName="theme"
                />
              </td>
              <td>
                <h4>Literatura</h4>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="radio"
                  value="actualidad"
                  formControlName="theme"
                />
              </td>
              <td>
                <h4>Actualidad</h4>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" value="other" formControlName="theme" />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="inputTheme"
                  aria-describedby="themeHelp"
                  placeholder="Otro:"
                  formControlName="otherTheme"
                />
              </td>
            </tr>
          </table>
        </div>
        <h4 class="left pt-2"><strong>Descripción de tertulia:</strong></h4>
        <div class="pt-2 left">
          <p>Describe el tema en pocas palabras</p>
        </div>
        <div class="pt-4">
          <div class="sk-comment-container">
            <textarea
              name="comment"
              formControlName="description"
              maxlength="200"
              placeholder="Descripción:"
            ></textarea>
            <div class="remaining-characters p-1 left">
              <p>
                {{ secondStepForm.get("description")?.value.length }} / 250
                caracteres
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="secondStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 2 ends -->

    <!-- step 3 begins -->
    <section class="pt-2" *ngIf="step === 3" [formGroup]="thirdStepForm">
      <h4 class="left"><strong>Fecha de la tertulia:</strong></h4>
      <div class="pt-2 left">
        <p>Hasta 30 dias de anticipacion</p>
      </div>
      <div class="pt-4"></div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elige una fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [disabled]="true"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #picker
          startAt="1960"
          [disabled]="false"
        ></mat-datepicker>
      </mat-form-field>
      <h4 class="left pt-4"><strong>Hora de la tertulia:</strong></h4>
      <div class="pt-2"></div>
      <div class="row justify-content-center pt-4">
        <div class="col-sm-4">
          <div class="pt-2">
            <div style="display: flex; width: 100%; justify-content: center">
              <ngb-timepicker
                formControlName="startTime"
                [minuteStep]="15"
              ></ngb-timepicker>
              <table>
                <tr>
                  <td></td>
                  <td>hrs.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="thirdStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 3 ends -->

    <!-- step 4 begins -->
    <section class="pt-2" *ngIf="step === 4" [formGroup]="fourthStepForm">
      <h4 class="left"><strong>Asi lo verán todos:</strong></h4>
      <div class="pt-2">
        <app-meeting-card
          [type]="'available'"
          [meeting]="meeting"
        ></app-meeting-card>
      </div>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-12">
          <table class="radio-table" style="width: 90%; margin-left: 5%">
            <tr>
              <td>
                <input
                  type="checkbox"
                  value="true"
                  formControlName="acceptedTerms"
                />
              </td>
              <td>
                <p>
                  Me comprometo a cumplir los términos y condiciones de la
                  comunidad
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="createNewMeeting()"
          [disabled]="fourthStepForm.invalid"
        >
          Publicar
        </button>
      </div>
    </section>
  </div>
</div>
