<div class="row justify-content-center p-4">
  <div class="col-md-10 center">
    <div class="pt-2">
      <h2>Crear tertulia</h2>
    </div>
    <!-- step 0 begins -->
    <span *ngIf="step === 0">
      <div class="pt-4">
        <h3><strong>¿Qué es una tertulia?</strong></h3>
      </div>
      <div class="pt-2">
        <h3>
          Es un espacio de conversación que permite a un máximo de 10 personas
          conversar sobre un tema de interés.
        </h3>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </span>
    <!-- step 0 ends -->
    <div class="py-3" *ngIf="step > 0">
      <h4>
        <strong>Paso {{ step }} de 6</strong>
      </h4>
    </div>
    <div class="pt-2" *ngIf="step > 0">
      <button class="sk-button secondary" (click)="previousStep()">
        Volver
      </button>
    </div>

    <!-- step 1 begins -->
    <section class="pt-2" *ngIf="step === 1" [formGroup]="firstStepForm">
      <h4><strong>Tipo de tertulia</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-6">
          <table class="radio-table">
            <tr>
              <td style="width: 10%">
                <input type="radio" value="open" formControlName="type" />
              </td>
              <td>
                <h4>
                  Abierta
                  <span
                    ngbTooltip="Cualquier integrante puede anotarse para asistir"
                    triggers="click:blur"
                    class="info"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" value="private" formControlName="type" />
              </td>
              <td>
                <h4>
                  Privada
                  <span
                    class="info"
                    ngbTooltip="Tú decides a quién y a cuántas personas invitar"
                    triggers="click:blur"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="firstStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 1 ends -->

    <!-- step 2 begins -->
    <section class="pt-2" *ngIf="step === 2" [formGroup]="secondStepForm">
      <h4><strong>Tema de tertulia</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-5">
          <table class="radio-table">
            <tr>
              <td style="width: 10%">
                <input
                  type="radio"
                  value="cine y literatura"
                  formControlName="theme"
                />
              </td>
              <td>
                <h4>Cine y literatura</h4>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="radio"
                  value="actualidad"
                  formControlName="theme"
                />
              </td>
              <td>
                <h4>Actualidad</h4>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" value="other" formControlName="theme" />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="inputTheme"
                  aria-describedby="themeHelp"
                  placeholder="Otro:"
                  formControlName="otherTheme"
                />
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="secondStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 2 ends -->

    <!-- step 3 begins -->
    <section class="pt-2" *ngIf="step === 3" [formGroup]="thirdStepForm">
      <h4><strong>Descripción de tertulia</strong></h4>
      <div class="pt-2">
        <h4>Describe el tema en pocas palabras</h4>
      </div>
      <div class="pt-4">
        <div class="sk-comment-container">
          <textarea
            name="comment"
            formControlName="description"
            maxlength="200"
            placeholder="Descripción:"
          ></textarea>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="thirdStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 3 ends -->

    <!-- step 4 begins -->
    <section class="pt-2" *ngIf="step === 4" [formGroup]="fourthStepForm">
      <h4><strong>Fecha de la tertulia</strong></h4>
      <div class="pt-2">
        <h4>Hasta 30 dias de anticipacion</h4>
      </div>
      <div class="pt-4"></div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elige una fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [disabled]="true"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #picker
          startAt="1960"
          [disabled]="false"
        ></mat-datepicker>
      </mat-form-field>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="fourthStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 4 ends -->

    <!-- step 5 begins -->
    <section class="pt-2" *ngIf="step === 5" [formGroup]="fifthStepForm">
      <h4><strong>Hora de la tertulia</strong></h4>
      <div class="pt-2"></div>
      <div class="row justify-content-center pt-4">
        <div class="col-sm-4">
          <h4>Hora de inicio:</h4>
          <div class="pt-2">
            <div style="display: flex; width: 100%; justify-content: center">
              <ngb-timepicker
                formControlName="startTime"
                [minuteStep]="15"
              ></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center pt-4">
        <div class="col-sm-4">
          <h4>Hora de termino:</h4>
          <div class="pt-2">
            <div style="display: flex; width: 100%; justify-content: center">
              <ngb-timepicker
                formControlName="endTime"
                [minuteStep]="15"
              ></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="fifthStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 5 ends -->

    <!-- step 6 begins -->
    <section class="pt-2" *ngIf="step === 6" [formGroup]="sixthStepForm">
      <h4><strong>Asi lo verán todos:</strong></h4>
      <div class="pt-2">
        <app-meeting-card
          [type]="'available'"
          [meeting]="meeting"
        ></app-meeting-card>
      </div>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-12">
          <table class="radio-table" style="width: 90%; margin-left: 5%">
            <tr>
              <td>
                <input
                  type="checkbox"
                  value="true"
                  formControlName="acceptedTerms"
                />
              </td>
              <td>
                <p>
                  Me comprometo a cumplir los términos y condiciones de la
                  comunidad
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="createNewMeeting()"
          [disabled]="sixthStepForm.invalid"
        >
          Publicar
        </button>
      </div>
    </section>
  </div>
</div>
