<div class="row justify-content-center px-4 pb-4">
  <div class="col-md-10 center">
    <div class="pt-2">
      <h3><strong>Crear tertulia</strong></h3>
    </div>
    <!-- step 0 begins -->
    <span *ngIf="step === 0">
      <div class="pt-4">
        <h4><strong>¿Qué es una tertulia?</strong></h4>
      </div>
      <div class="pt-4">
        <h4>
          Es un espacio de conversación que permite a un máximo de 10 personas
          conversar sobre un tema de interés.
        </h4>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </span>
    <!-- step 0 ends -->
    <div class="py-3" *ngIf="step > 0">
      <p class="left back" (click)="previousStep()">
        <strong
          ><span><i class="bi bi-arrow-left"></i></span> Volver</strong
        >
      </p>
      <p>Paso {{ step }} de 4</p>
    </div>

    <!-- step 1 begins -->
    <section class="pt-2" *ngIf="step === 1" [formGroup]="firstStepForm">
      <h4 class="left"><strong>Tipo de tertulia:</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-10">
          <table class="radio-table">
            <tr>
              <td style="width: 10%">
                <input type="radio" value="open" formControlName="type" />
              </td>
              <td>
                <h4>
                  Abierta
                  <span
                    ngbTooltip="Cualquier integrante puede anotarse para asistir"
                    triggers="click:blur"
                    class="info"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" value="private" formControlName="type" />
              </td>
              <td>
                <h4>
                  Privada
                  <span
                    class="info"
                    ngbTooltip="Tú decides a quién y a cuántas personas invitar"
                    triggers="click:blur"
                  >
                    ¿Qué es?</span
                  >
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <form class="example-form" *ngIf="type === 'private'">
        <h4 class="left">
          <strong> Lista de invitados: </strong>
        </h4>
        <div class="py-2 left"><p>Invita hasta 10 personas</p></div>

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Invitados:</mat-label>
          <mat-chip-list #chipList aria-label="Lista de invitados">
            <mat-chip
              *ngFor="let user of selectedUsers"
              (removed)="remove(user)"
            >
              {{ user.first_name }}
              <button matChipRemove>X</button>
            </mat-chip>
            <input
              placeholder="Nuevo invitado..."
              #userInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="add($event)"
              class="pt-2"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let user of filteredOptions | async"
              [value]="user"
            >
              {{ user.first_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <p>{{ selectedUsers.length }}/10</p>
      </form>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="firstStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 1 ends -->

    <!-- step 2 begins -->
    <section class="pt-2" *ngIf="step === 2" [formGroup]="secondStepForm">
      <h4 class="left"><strong>Tema de tertulia:</strong></h4>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-6">
              <table class="radio-table">
                <tr>
                  <td style="width: 10%">
                    <input type="radio" value="cine" formControlName="theme" />
                  </td>
                  <td>
                    <h4>Cine</h4>
                  </td>
                </tr>
                <tr>
                  <td style="width: 10%">
                    <input
                      type="radio"
                      value="literatura"
                      formControlName="theme"
                    />
                  </td>
                  <td>
                    <h4>Literatura</h4>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-6">
              <table class="radio-table">
                <tr>
                  <td>
                    <input
                      type="radio"
                      value="actualidad"
                      formControlName="theme"
                    />
                  </td>
                  <td>
                    <h4>Actualidad</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="radio" value="other" formControlName="theme" />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      id="inputTheme"
                      aria-describedby="themeHelp"
                      placeholder="Otro:"
                      formControlName="otherTheme"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <h4 class="left pt-2"><strong>Nombre breve de tertulia:</strong></h4>
        <div class="p-2">
          <div class="name-container">
            <input
              type="text"
              class="form-control name-input"
              maxlength="40"
              placeholder="Ingresa un nombre"
              formControlName="name"
            />
            <div class="remaining-characters right p-2">
              <p>{{ secondStepForm.get("name")?.value.length }} / 60</p>
            </div>
          </div>
        </div>

        <h4 class="left pt-2"><strong>Descripción de tertulia:</strong></h4>
        <div class="pt-2">
          <div class="sk-comment-container">
            <textarea
              name="comment"
              formControlName="description"
              maxlength="200"
              placeholder="Descripción:"
            ></textarea>
            <div class="remaining-characters p-1 right">
              <p>{{ secondStepForm.get("description")?.value.length }} / 250</p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="secondStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 2 ends -->

    <!-- step 3 begins -->
    <section class="pt-2" *ngIf="step === 3" [formGroup]="thirdStepForm">
      <h4 class="left"><strong>Fecha de la tertulia:</strong></h4>
      <div class="pt-2 left">
        <p>Hasta 30 dias de anticipacion</p>
      </div>
      <div class="pt-1"></div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elige una fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [disabled]="true"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #picker
          startAt="1960"
          [disabled]="false"
        ></mat-datepicker>
      </mat-form-field>
      <h4 class="left pt-2"><strong>Hora de la tertulia:</strong></h4>
      <div class="pt-2"></div>
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="pt-2">
            <div style="display: flex; width: 100%; justify-content: center">
              <ngb-timepicker
                formControlName="startTime"
                [minuteStep]="15"
              ></ngb-timepicker>
              <table>
                <tr>
                  <td></td>
                  <td>
                    <p>hrs.</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="nextStep()"
          [disabled]="thirdStepForm.invalid"
        >
          Continuar
        </button>
      </div>
    </section>
    <!-- step 3 ends -->

    <!-- step 4 begins -->
    <section class="pt-2" *ngIf="step === 4" [formGroup]="fourthStepForm">
      <h4 class="left"><strong> Revisar y publicar</strong></h4>
      <div class="pt-2 left">
        <p>Asi lo verán todos, si está correcto presiona Publicar</p>
      </div>
      <div class="pt-2">
        <app-meeting-card
          [type]="'available'"
          [meeting]="meeting"
          [disableActions]="true"
          [isOwner]="false"
          [addedToCalendar]="false"
          [isInvitation]="meeting.type === 'private'"
        ></app-meeting-card>
      </div>
      <section *ngIf="meeting.type === 'private'">
        <h4 class="left pt-2"><strong>Invitados:</strong></h4>
        <p *ngFor="let user of selectedUsers" class="py-1">
          {{ user.first_name }}
        </p>
      </section>
      <div class="row pt-3 justify-content-center">
        <div class="col-md-12">
          <table class="radio-table" style="width: 90%; margin-left: 5%">
            <tr>
              <td>
                <input
                  type="checkbox"
                  value="true"
                  formControlName="acceptedTerms"
                />
              </td>
              <td>
                <p>
                  Me comprometo a cumplir los términos y condiciones de la
                  comunidad
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="p-4">
        <button
          class="sk-button sign-up"
          (click)="createNewMeeting()"
          [disabled]="fourthStepForm.invalid"
        >
          Publicar
        </button>
      </div>
    </section>
  </div>
</div>

<!-- popup -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: popupDisplayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header left">
        <h4 class="modal-title">!Tu tertulia ya está publicada!</h4>
      </div>
      <div class="modal-body left">
        <p>
          Si quieres revisarla búscala en tu
          <span
            style="text-decoration: underline"
            [routerLink]="'/dashboard/calendar'"
            >calendario</span
          >
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
