.radio-table {
  width: 50%;
  margin-left: 25%;
  text-align: left;
  tr {
    height: 2.5rem;
  }
}
::ng-deep .mat-form-field-flex {
  background-color: white !important;
}
::ng-deep .mat-input-element {
  color: #555 !important;
}
