<div class="row">
  <div class="col">
    <div class="row pb-5">
      <div class="page-title">Encuentros</div>
    </div>
    <div class="row">
      <div class="section-title">Próximos</div>
    </div>
    <div class="meetings-container">
      <div class="meeting-card pt-5" *ngFor="let item of nextMeetings">
        <div class="name">
          {{ item.other.first_name }}
        </div>
        <div class="date pt-2">
          {{ item.date | date: "dd-MMM" }}
        </div>
        <div class="date">{{ item.date | date: "HH:mm" }} hrs.</div>
        <div class="date"><a [href]="item.meetingLink">link zoom</a></div>
      </div>
      <div
        class="meeting-card new"
        *ngIf="searcherUser"
        [routerLink]="'../search-meetings'"
      >
        <div class="add-icon pt-4">
          <i class="bi bi-plus-lg"></i>
        </div>
        <div class="pt-1 center">Buscar encuentros</div>
      </div>
    </div>
    <div class="row">
      <div class="section-title">Pasados</div>
    </div>
    <div class="meetings-container">
      <div class="meeting-card past pt-5" *ngFor="let item of pastMeetings">
        <div class="name">
          {{ item.name }}
        </div>
        <div class="star-container pt-2">
          <div *ngFor="let item of [].constructor(item.review)" class="filled">
            <i class="bi bi-star-fill"></i>
          </div>
          <div
            *ngFor="let item of [].constructor(5 - item.review)"
            class="unfilled"
          >
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
