<div class="container-fluid">
  <div class="row justify-content-between sk-header">
    <div class="col-sm-4">
      <table>
        <tr>
          <td>
            <img
              src="assets/icons/skolton-logo.png"
              class="logo"
              routerLink="/auth/home"
            />
          </td>
          <td>
            <div class="title">Skolton comunidad</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 sk-desktop-content">
      <table>
        <tr>
          <td>
            <div class="sk-button sign-up" [routerLink]="'sign-up'">
              ¡Conectarse!
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid sk-main">
  <router-outlet></router-outlet>
</div>
