<div id="meeting-component">
  <div
    id="jitsi-iframe"
    [ngClass]="fullScreenMode ? 'meeting-frame big' : 'meeting-frame'"
  >
    <i (click)="executeCommand('resize-large-video')"></i>
  </div>

  <!--For Custom Controls-->
  <table class="icon-table">
    <tr>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('toggleAudio')"
            [ngClass]="isAudioMuted ? 'bi bi-mic-mute-fill' : 'bi bi-mic-fill'"
            aria-hidden="true"
            title="Mute / Unmute"
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('toggleVideo')"
            [ngClass]="
              isVideoMuted
                ? 'icon bi bi-camera-video-off-fill'
                : 'icon bi bi-camera-video-fill'
            "
            aria-hidden="true"
            title="Start / Stop camera"
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('resize-large-video')"
            [ngClass]="
              !fullScreenMode
                ? 'bi bi-arrows-fullscreen'
                : 'bi bi-fullscreen-exit'
            "
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('hangup')"
            class="bi bi-x-circle-fill"
            aria-hidden="true"
            title="Leave"
          ></i>
        </div>
      </td>
    </tr>
  </table>
</div>
