<div class="row py-4 justify-content-center" *ngIf="meeting">
  <div class="col md-6 center">
    <h3>
      <strong>Hablemos de: {{ meeting.theme }}</strong>
    </h3>
    <h4 div class="pt-2">Organiza: {{ meeting.Host.first_name }}</h4>
  </div>
</div>
<div id="meeting-component" *ngIf="!meetingFinished">
  <div
    id="jitsi-iframe"
    [ngClass]="fullScreenMode ? 'meeting-frame big' : 'meeting-frame'"
  >
    <i (click)="executeCommand('resize-large-video')"></i>
  </div>

  <!--For Custom Controls-->
  <table class="icon-table">
    <tr>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('toggleAudio')"
            [ngClass]="isAudioMuted ? 'bi bi-mic-mute-fill' : 'bi bi-mic-fill'"
            aria-hidden="true"
            title="Mute / Unmute"
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('toggleVideo')"
            [ngClass]="
              isVideoMuted
                ? 'icon bi bi-camera-video-off-fill'
                : 'icon bi bi-camera-video-fill'
            "
            aria-hidden="true"
            title="Start / Stop camera"
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="executeCommand('resize-large-video')"
            [ngClass]="
              !fullScreenMode
                ? 'bi bi-arrows-fullscreen'
                : 'bi bi-fullscreen-exit'
            "
          ></i>
        </div>
      </td>
      <td>
        <div class="icon-container">
          <i
            (click)="endMeeting()"
            class="bi bi-x-circle-fill"
            aria-hidden="true"
            title="Leave"
          ></i>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="pt-2" *ngIf="!meetingFinished">
  <h4>
    Si tienes problemas al unirte a la reunión ingresa por este link:
    <span class="link" (click)="openExternalLink()"> link externo</span>
  </h4>
</div>
<div
  class="row justify-content-center"
  *ngIf="meetingFinished && !reviewGiven"
  [formGroup]="reviewForm"
>
  <div class="col-md-8 center">
    <h3 class="py-1">Tertulia terminada</h3>
    <h4 class="py-1">Por favor entrega tu evaluación:</h4>
    <ngb-rating formControlName="rate" [max]="5" class="star pt-4"></ngb-rating>
    <div class="pt-4">
      <div class="sk-comment-container">
        <textarea
          name="comment"
          formControlName="comment"
          maxlength="200"
          placeholder="Escribe un breve comentario:"
        ></textarea>
      </div>
    </div>
    <div class="p-4">
      <button
        class="sk-button sign-up"
        [disabled]="reviewForm.invalid"
        (click)="addReview()"
      >
        Enviar
      </button>
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="meetingFinished && reviewGiven">
  <div class="col-md-8 center">
    <h3 class="py-1">Tertulia terminada</h3>
    <h4 class="py-1">
      Gracias por formar parte de Skolton, nos vemos en tu próxima tertulia
    </h4>

    <div class="p-4">
      <button class="sk-button sign-up" [routerLink]="'../home'">
        Volver a inicio
      </button>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: endMeetingPopupStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header left">
        <h4 class="modal-title">Terminar tertulia</h4>
      </div>
      <div class="modal-body left">
        <p>Terminarás la tertulia para todos los participantes</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="confirmEndMeeting()"
        >
          Terminar tertulia
        </button>
      </div>
    </div>
  </div>
</div>
