<div class="row justify-content-center p-4">
  <div class="col-md center">
    <h3><strong>Listos para comenzar</strong></h3>
    <div class="row justify-content-center p-3">
      <div class="col-12">
        <app-meeting-card></app-meeting-card>
      </div>
    </div>
    <div class="pt-4">
      <h3><strong>Eventos destacados</strong></h3>
    </div>
    <div class="row justify-content-center p-3">
      <div class="col-12">
        <app-meeting-card [type]="'available'"></app-meeting-card>
      </div>
    </div>
    <div class="pt-4">
      <h3><strong>Buscar eventos por tema</strong></h3>
    </div>
    <div class="row justify-content-center pt-2">
      <div class="col-md-4 py-2 px-3" *ngFor="let theme of themes">
        <div class="sk-theme-card">
          <table>
            <tr>
              <td class="p-2">
                <i [class]="theme.icon"></i>
              </td>
              <td class="left">
                <h3>
                  <strong>{{ theme.title }}</strong>
                </h3>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
