<div class="row justify-content-center px-4">
  <div class="col-md center">
    <div
      class="py-1"
      *ngFor="let meetingInvitation of meetingInvitations; let i = index"
    >
      <ngb-alert [type]="'success'" (closed)="removeAlert(i)"
        >{{ meetingInvitation.Host.first_name }} te ha invitado a una tertulia
        privada.
        <span
          style="text-decoration: underline"
          [routerLink]="'/dashboard/calendar'"
          >Revisar en el calendario</span
        ></ngb-alert
      >
    </div>
    <div class="py-1" *ngFor="let meeting of meetingWaitingList; let i = index">
      <ngb-alert [type]="'success'" (closed)="removeAlert(i)"
        >Se liberó un cupo para la tertulia "{{ meeting.name }}", ofrecida por
        {{ meeting.Host.first_name }}
        <span
          style="text-decoration: underline"
          (click)="meeting.show = !meeting.show"
          >Ver tertulia</span
        ></ngb-alert
      >
      <app-meeting-card
        *ngIf="meeting.show"
        [type]="'available'"
        [meeting]="meeting"
        (changedMeeting)="getMeetingWaitingList()"
      >
      </app-meeting-card>
    </div>
    <div class="pt-2">
      <h3><strong>Actividades de hoy</strong></h3>
    </div>
    <div class="row justify-content-center pt-4" *ngIf="loadingTodayMeetings">
      <div class="spinner-border sk-spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div
      class="row justify-content-center p-3"
      *ngFor="let meeting of todayMeetings"
    >
      <div class="col-md-9">
        <app-meeting-card
          [meeting]="meeting"
          [type]="'ready'"
        ></app-meeting-card>
      </div>
    </div>
    <h4 *ngIf="todayMeetings.length === 0 && !loadingTodayMeetings">
      No te has inscrito en tertulias o charlas para hoy. Para otros días revisa
      tu
      <span
        style="text-decoration: underline"
        [routerLink]="'/dashboard/calendar'"
        >calendario</span
      >
    </h4>
    <div class="pt-4">
      <h3><strong>Eventos recomendados</strong></h3>
    </div>
    <div
      class="row justify-content-center pt-4"
      *ngIf="loadingSuggestedMeeting"
    >
      <div class="spinner-border sk-spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div
      class="row justify-content-center p-3"
      *ngFor="let meeting of suggestedMeetings"
    >
      <div class="col-md-9">
        <app-meeting-card
          [type]="'available'"
          [meeting]="meeting"
          (changedMeeting)="getSuggestedMeetings()"
        ></app-meeting-card>
      </div>
    </div>
    <div class="pt-4">
      <h3><strong>Buscar eventos por tema</strong></h3>
    </div>
    <div class="row justify-content-center pt-2">
      <div class="col-md-4 py-2 px-3" *ngFor="let theme of themes">
        <div class="sk-theme-card" (click)="goToSearcher(theme)">
          <table>
            <tr>
              <td class="p-2">
                <i [class]="theme.icon"></i>
              </td>
              <td class="left">
                <h4>
                  <strong>{{ theme.title }}</strong>
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
