<section>
  <div class="row pt-2 justify-content-center">
    <!-- step 1 begins -->
    <div class="col-sm-6 center" [formGroup]="profileForm" *ngIf="step === 1">
      <h3 class="py-2"><strong>Crear cuenta</strong></h3>
      <h4 class="left py-1">
        <strong>Nombre:</strong>
      </h4>
      <div class="p-2">
        <input
          type="text"
          class="form-control"
          id="inputName"
          aria-describedby="nameHelp"
          placeholder="Ingresa tu nombre"
          formControlName="firstName"
        />
        <p id="nameHelp" class="pt-2 left">Así aparecerá en Skolton</p>
      </div>
      <h4 class="left py-1">
        <strong>Correo electrónico:</strong>
      </h4>
      <div class="p-2">
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          placeholder="Ingresa tu correo"
          formControlName="email"
        />
        <p id="emailHelp" class="pt-2 left">
          Te servirá para entrar a tu cuenta y para recuperar tu contraseña si
          la olvidas
        </p>
      </div>
      <h4 class="left py-1">
        <strong>Contraseña:</strong>
      </h4>
      <div class="p-2">
        <p>
          <code-input
            [isCodeHidden]="false"
            [codeLength]="4"
            (codeCompleted)="changePassword($event)"
            (codeChanged)="changePassword($event)"
            class="code-input"
          ></code-input>
        </p>

        <p id="passwordHelp" class="pt-2 left">Deben ser sólo 4 números</p>
      </div>
      <div class="p-2">
        <button
          class="sk-button sign-up"
          [disabled]="profileForm.invalid || loading"
          (click)="nextStep()"
        >
          Continuar
        </button>
      </div>
      <div class="p-2">
        <button class="sk-button secondary" [routerLink]="'../sign-in'">
          ¡Ya tengo una cuenta!
        </button>
      </div>
    </div>
    <!-- step 1 ends -->
    <!-- step 2 begins -->
    <div class="col-sm-6 center" *ngIf="this.step === 2">
      <h3 class="pt-2"><strong>¡Ya eres parte de Skolton!</strong></h3>
      <div class="pt-4 justify">
        <h4>
          Para ayudarte a encontrar lo que buscas necesitamos que respondas 3
          simples preguntas
        </h4>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </div>
    <!-- step 2 ends -->
    <!-- step 3 begins -->
    <div
      class="col-sm-6 center px-3"
      *ngIf="this.step === 3"
      [formGroup]="otherInfoForm"
    >
      <h3 class="pt-2"><strong>Algunos datos básicos</strong></h3>
      <h4 class="left py-1">
        <strong>¿Cuál es tu fecha de cumpleaños?</strong>
      </h4>
      <div class="pt-2">
        <mat-form-field appearance="fill">
          <mat-label>DD/MM/YYYY</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="birthDate" />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      </div>
      <h4 class="left py-1">
        <strong>Soy:</strong>
      </h4>
      <div class="pt-2">
        <table style="width: 50%; margin-left: 25%; text-align: left">
          <tr style="height: 40px">
            <td>
              <input type="radio" value="female" formControlName="gender" />
            </td>
            <td>
              <p>Mujer</p>
            </td>
          </tr>
          <tr style="height: 40px">
            <td>
              <input type="radio" value="male" formControlName="gender" />
            </td>
            <td>
              <p>Hombre</p>
            </td>
          </tr>
          <tr style="height: 40px">
            <td>
              <input type="radio" value="other" formControlName="gender" />
            </td>
            <td>
              <p>Prefiero no decirlo</p>
            </td>
          </tr>
        </table>
      </div>
      <h4 class="left py-1">
        <strong>¿En qué comuna vives?</strong>
      </h4>
      <div class="pt-2">
        <select
          id="inputState"
          class="form-control"
          [(ngModel)]="selectedRegion"
          [ngModelOptions]="{ standalone: true }"
        >
          >
          <option selected><p>Region</p></option>
          <option *ngFor="let region of regions; let i = index" [value]="i">
            <p>{{ region.NombreRegion }}</p>
          </option>
        </select>
      </div>
      <div class="pt-2">
        <select
          id="inputState"
          class="form-control pt-2"
          *ngIf="selectedRegion && regions[selectedRegion]"
          formControlName="address"
        >
          <option selected>
            <p>Comuna</p>
          </option>
          <option *ngFor="let commune of regions[selectedRegion].comunas">
            {{ commune }}
          </option>
        </select>
      </div>

      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </div>
    <!-- step 3 ends -->
    <!-- step 4 begins -->
    <div class="col-sm-6 center px-3" *ngIf="this.step === 4">
      <div class="pt-4">
        <h3><strong>¿Cuáles con tus intereses?</strong></h3>
      </div>
      <div class="py-3 left">
        <h5>
          Elige todos los que quieras y te mantendremos actualizado sobre tus
          intereses a través de las notificaciones
        </h5>
      </div>
      <div class="row p-2" *ngFor="let interest of interests">
        <div
          class="interest-card"
          [ngClass]="
            !interest.selected ? 'interest-card' : 'interest-card selected'
          "
        >
          <table>
            <tr>
              <td (click)="interest.selected = !interest.selected">
                <i [class]="interest.icon"></i>
              </td>
              <td
                *ngIf="!interest.other || !interest.selected"
                (click)="interest.selected = !interest.selected"
              >
                <h4 class="left">{{ interest.name }}</h4>
              </td>
              <td *ngIf="interest.other && interest.selected">
                <mat-form-field>
                  <mat-label>Ingresa un tema</mat-label>
                  <input matInput type="text" [(ngModel)]="interest.value" />
                </mat-form-field>
              </td>
              <td (click)="interest.selected = !interest.selected">
                <i
                  class="bi bi-check-circle-fill"
                  *ngIf="interest.selected"
                ></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </div>
    <!-- step 4 ends -->
    <!-- step 5 begins -->
    <div
      class="col-md-7 center"
      *ngIf="this.step === 5"
      [formGroup]="descriptionForm"
    >
      <div class="pt-4">
        <h3>
          <strong>Descríbete para que la comunidad pueda conocerte</strong>
        </h3>
      </div>
      <div class="pt-4">
        <div class="sk-comment-container">
          <textarea
            name="comment"
            formControlName="description"
            placeholder="Descripción: "
            maxlength="250"
          ></textarea>
          <div class="remaining-characters p-1 left">
            <p>
              {{ descriptionForm.get("description")?.value.length }} / 250
              caracteres
            </p>
          </div>
        </div>
      </div>
      <div class="pt-2 left">
        <p>
          Si no deseas hacer tu descripción ahora puedes agregarla después en
          Datos Personales en el menú principal.
        </p>
      </div>
      <div class="p-4">
        <button class="sk-button sign-up" (click)="nextStep()">
          Continuar
        </button>
      </div>
    </div>

    <!-- step 5 ends -->
  </div>
</section>
