<div class="row justify-content-center px-2">
  <div class="col-md center">
    <div class="pt-2">
      <h3><strong>Calendario</strong></h3>
    </div>
    <div class="row justify-content-center p-3" *ngFor="let date of dates">
      <h3>{{ date | date: "dd" }} de {{ date | date: "MMMM" }}</h3>
      <div class="col-md-12">
        <div
          class="row justify-content-center p-3"
          *ngFor="let meeting of meetingsByDate[date]"
        >
          <div class="col-md-9">
            <app-meeting-card
              [type]="'available'"
              [meeting]="meeting"
              [addedToCalendar]="true"
              [isOwner]="meeting.isOwner"
              (changedMeeting)="getMeetings()"
            ></app-meeting-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
